/* ~~~~~~~~~ Basic style ~~~~~~~~~~~~*/
h2 {
  font-size:138.5%;
  color: #333;
  font-weight:bold;
}

h3 {
  font-size:123.1%;
  color: #555;
}

.fl-l {
  float:left;
}
.fl-r {
  float:right;
}

.clear {
  clear:both;
}

a:link, a:visited, a:active {
  color: #1D1D1D;
  text-decoration: none;
}

a:hover {
  color: #0033CC;
  text-decoration: none;
  background: transparent none repeat scroll 0 0;
}

a.button span{
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  background:transparent url(/images/merge.png) no-repeat;
  background-position: 0px -96px;
  display:block;
  height:30px;
  padding:5px 10px 0;
  margin:0px 1px 0px 1px;
  font-weight: bold;
  text-align:center;
}
a.button {
  color:#FFFFFF;
  cursor:pointer;
  text-align:center;
  text-decoration:none;
  font-size: 16px;
  font-family: Helvetica,Arial,sans-serif;
}
.alert-red, a.alert-red {
  color:#C62B26;
}
.ft-w {
  font-weight:bold;
  font-size:15px;
}
/* ~~~~~~~~~~ FORM STYLE ~~~~~~~~~~ */

#form {
  margin-top :10px;
  padding:5px;
  background: #f4f4f4;
}

form label {
    font-weight: bold;
    line-height: 2;
    color: #555;
}

form .text {
    border: 1px #dcdcdc solid;
    color: #000000;
}

form .text:focus {
    border: 1px #F8BA01  solid;
}

form .submit {
    background: #777;
    border: 0;
    padding: 2px 10px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    overflow: visible;
}

form .submit:hover {
    background: #333;
}

form .content {
  color: #AA5511;
  font-size:13px;
}
h2.title {
  color:#000000;
  font-size:15px;
  margin-bottom:5px;
}

/* ~~~~~~~ Friend style ~~~~~~~~*/
#friend-list {
  overflow-x: hidden;
  float: left;
  width: 120px;
  height: 680px;
  padding-left:2px;
  padding-top:2px;
  margin-top:12px;
}

#friend-list-header {
  color:#FFFFFF;
  background-color:#3B5998;
  font-weight:bold;
  padding:4px;
  margin:2px;
}

.friend-cell {
  width: 130px;
  margin:6px 0px 3px 0px;
  border-bottom: 1px #D6D9DE solid;
  padding: 2px;
}
.friend-time {
  padding:8px 0px 4px 8px;
}

.bulb {
  background-image :url(/images/merge.png);
  background-repeat: no-repeat;
  width:48px;
  height:48px;
  display:block;
  float:left;
}

.green-light {
  background-position: 0px 0px;
  width:48;
}
.red-light {
  background-position: 0px -48px;
}
.black-light {
  background-position: -48px -48px;
}
.empty-light {
  background-position: -47px 0px;
}


/* ~~~~~~~ Content style ~~~~~~~~*/
#content {
  float: right;
  width: 620px;
  padding:3px;
}

#container {
  overflow: hidden;
  position: relative;
}

#show_graph {
  float:right;
}

#date_range {
  float:right;
  display:block;
}

.record-cell {
  border-top:1px solid #EEEEEE;
  color:#808080;
  padding:8px 0px 8px 10px;
}

#record_list_header {
  padding:3px;
  background-color:#EEEEEE;
}

#action-menu {
  background:#EEEEEE none repeat scroll 0 0;
  border:1px solid #CCCCCC;
  margin-top:10px;
  margin-bottom:20px;
  padding:3px;
  height:26px;
}
#top-menu a{
  font-size:15px;
}

#top-menu span {
  margin:0px 4px 0px 4px;
}

.record-action {
  display: none;
  float:right;
  color: #000;
  font-weight:bold;
}

.record-content{
  color: #333333;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

.record-info {
  display:none;
}

.record-img {
  background-image :url(/images/merge.png);
  background-repeat: no-repeat;
  width:16px;
  height:16px;
  float:left;
}

.green-flag {
  background-position: -95px -1px;
}
.yellow-flag {
  background-position: -96px -18px;
}

.success-symbol{
  background-position: -96px -34px;
}
.fail-symbol{
  background-position: -96px -49px;
}

.pri-symbol{
  background-position: -96px -65px;
}

#record-time {
  float:left;
  margin-right:5px;
  display:block;
  color:#000;
  font-weight:bold;
  height:20px;
}

#record-target {
  color: #AA5511;
  font-size: 13px;
}

#fb-comment {
  margin-top:50px;
}

/* ~~~~~~~~ Top Menu style ~~~~~~~~~*/
#top-menu {
  margin-bottom:3px;
  padding:3px;
  border-bottom: 1px solid #E5ECF9;
}

#top-menu a{
  color: #0033CC;
  font-weight: bold;
  text-decoration: none;
}
#top-menu a:hover {
  text-decoration: underline;
  background: transparent none repeat scroll 0 0;
}

/* ~~~~~~~~~ Status Style ~~~~~~~~~~ */
#status_list {
  margin-top:10px;
  float:left;
}

#status_list tr {
  display:table-row;
  vertical-align:inherit;
  color: #1D1D1D !important;
}
#status_list th {
  padding-right:4px;
  text-align:right;
}

#status_list td {
  color: #555555;
  font-size: 13px;
  display: table-cell;
  text-align:center;
}

#score-label {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
}

#score-value {
  font-size: 30px;
  font-weight: bold;
  color: #00FF24;
}

#score-tip {
  height:30px;
}

/* ~~~~~~~~~ Rank Style ~~~~~~~~~~ */
#user-rank-no {
  margin:10px;
}

h2.rank-desc {
  margin: 10px 0px 30px 0px;
  background-color:#EFEFEF;
  padding: 4px;
}

.even {
  background-color :#F4FBF3;
}
/* ~~~~~~~~~ Tip Style ~~~~~~~~~~ */
a.tip{
  color: #AA5511;
  font-size: 13px;
  cursor:help;
}

.tip {
  color: #AA5511;
}

.fb-header {
  margin-bottom:15px;
}

.tip-content {
  color: #000;
}

/* ~~~~~~~~ Tutorial Style ~~~~~~~~~~~*/
#tutorail {
  padding:5px 10px 5px 10px;
  display:block;
  border: 2px solid #CCCCCC;
  background-color:#EFEFEF;
  height:100px;
  margin-bottom:20px;
}

#tutorail div.step{
  width: 220px;
  float:left;
  margin: 0px 10px 0px 10px;
  display:block;
}
#tutorail div.desc{
  margin-top:5px;
  font-size:14px;
  color:#333333;
  line-height:18px;
}

#tutorail div.desc a{
  float:left;
  font-size:14px;
  color:#FFFFFF;
  height:30px;
  margin:0px 1px 0px 1px;
  font-weight: bold;
  text-align:center;
}

#tutorail a {
  font-size:16px;
  font-weight:bold;
  color:#3B5998;
  cursor:pointer;
  outline-style:none;
  text-decoration:none;
}
/* ~~~~~~~ Badges style ~~~~~~~~*/
#badges {
  margin-top:12px;
  background-color: #E4E4E4;
}

#badges tr {
  display:table-row;
  vertical-align:inherit;
  color: #FFFFFF;
  height:24px;
  border-bottom: 1px solid #EFEFEF;
  padding:3px;
  margin:1px;
}

#badges .badges-desc{
  width: 350px;
  font-size: 15px;
  padding:5px 3px 5px 12px;
  text-align: left;
}

#badges td.complete {
  color: #00C618;
  font-weight: bold;
  background-color: #FEFEFE;
}

/* ~~~~~~~~ Adsense Style ~~~~~~~~~~~*/
#adsense {
  padding:5px 10px 5px 10px;
  display:block;
  border: 1px solid #CCCCCC;
  background-color:#FFFFFF;
  height:100px;
  margin-bottom:12px;
}
