<h2 class='title'><%= t'badges.title'%></h2>
<table cellspacing="0">
  <tbody id='badges'>
    <% Status::BADGES_COLUMN[0].sort.map{|a| a[1]}.each do |col|%>
      <tr> 
        <td class='badges-desc <%= 'complete' if @status.send(col) %>'>
          <%= badge_name(col) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
